/* .rsvp-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.rsvp {
    padding: 8rem;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color:#fdfdfd;
    padding: 3rem;
    margin: 3rem;
    border-radius: 18px;
    width: 70%;
    align-self: center;
    gap: 12px;
}

form {
    font-size: 1.3rem;
}

label {
    font-weight: bold;
}

input, .rmdp-input {
    border: 1px solid #D2B48C;
    padding: 8px 16px;
    font-size: 1.3rem;
}

.form-button {
    background-color: #4CAF50;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}

.radio-options {
    position: relative;
    display: flex;
    padding: 0.75rem;
    border-radius: 80px;
    transform: scale(0.8);
    transition: 0.2s ease-in;
    border: 1px solid #D2B48C;
    background-color: #DDDDDD;
    overflow: hidden;
    width: 100%;
}

.radio-options * {
    z-index: 2;
}

input[type="radio"] {
    display: none;
}

.radio-option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 80px;
    cursor: pointer;
    transition: color 0.2s ease-in;
    width: 33%;
}

input[type="radio"]:checked + label {
    color: #4CAF50;
}

input[id="rsvp-yes"]:checked ~ .slider {
	transform: translateX(0);
}
input[id="rsvp-no"]:checked ~ .slider {
	transform: translateX(100%);
}
input[id="rsvp-maybe"]:checked ~ .slider {
	transform: translateX(200%);
}

.slider {
    position: absolute;
    display: flex;
    height: 48px;
    width: 32%;
    background-color: #FDFDFD;
    border-radius: 80px;
    transition: 0.2s ease-out;
    z-index: 1;
}

.guest-attending {
    display: flex;
    gap: 2rem;
}

.guest-label {
    display: flex;
    flex-direction: column;
}

.including {
    color:#BBBBBB;
}

.guest-count-options {
    display: flex;
    align-items: center;
}

.count-button {
    border-radius: 50%;
    border: 1px solid #D2B48C;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.count-button:hover {
    background-color: #EFDAB9;
}

.guest-count {
    padding: 0 10px;
}

@media (max-width: 768px) {
    .radio-options {
        width: 100%;
    }

}
